<main class="w-screen h-screen flex bg-white text-black">
  <div class="image-container w-1/2 h-full flex items-center justify-center">
    <img [src]="imgSrc" [alt]="imgSrc" class="w-[400px] object-cover" />
  </div>
  <div
    class="message-container w-1/2 h-full flex flex-col items-start justify-center"
  >
    <h1 class="font-title text-4xl uppercase font-bold">{{ errorTitle }}</h1>
    <p>{{ errorMessage }}</p>
    <div class="btns flex gap-2 py-2">
      <button
        class="px-3 py-1.5 rounded-sm bg-blue text-white text-sm"
        routerLink="/home"
      >
        Home Page
      </button>
      <button class="px-3 py-1.5 rounded-sm bg-black text-white text-sm">
        Try Again
      </button>
    </div>
  </div>
</main>
